In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\user\Documents\WorkSpace\healthcare_dataset.csv')

In [3]:
df.head()

,Unnamed: 0,Name,Age,Age Group,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,...,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Year of Admission,Day of Admission,Month of Admission,Duration of Stay
0,0,Bobby JacksOn,30,Adult,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,...,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal,2024,Wednesday,January,2 days
1,1,LesLie TErRy,62,Elderly,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,...,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive,2019,Tuesday,August,6 days
2,2,DaNnY sMitH,76,Senior,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,...,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal,2022,Thursday,September,15 days
3,3,andrEw waTtS,28,Adult,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",...,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal,2020,Wednesday,November,30 days
4,4,adrIENNE bEll,43,Adult,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,...,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal,2022,Monday,September,20 days

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          55500 non-null  int64
 1   Name                55500 non-null  object
 2   Age                 55500 non-null  int64
 3   Age Group           55500 non-null  object
 4   Gender              55500 non-null  object
 5   Blood Type          55500 non-null  object
 6   Medical Condition   55500 non-null  object
 7   Date of Admission   55500 non-null  object
 8   Doctor              55500 non-null  object
 9   Hospital            55500 non-null  object
 10  Insurance Provider  55500 non-null  object
 11  Billing Amount      55500 non-null  float64
 12  Room Number         55500 non-null  int64
 13  Admission Type      55500 non-null  object
 14  Discharge Date      55500 non-null  object
 15  Medication          55500 non-null  object
 16  Test Results        55500 non-null  object
 17  Year of Admission   55500 non-null  int64
 18  Day of Admission    55500 non-null  object
 19  Month of Admission  55500 non-null  object
 20  Duration of Stay    55500 non-null  object
dtypes: float64(1), int64(4), object(16)
memory usage: 8.9+ MB

In [5]:
ageGrp= []
for age in df['Age']:
    if age < 12:
        ageGrp.append('Children')
    elif age < 20:
        ageGrp.append('Teenager')
    elif age< 50:
        ageGrp.append('Adult')
    elif age <65:
        ageGrp.append('Elderly')
    else:
        ageGrp.append('Senior')

In [6]:
df['Age Group']= ageGrp

In [7]:
df['Date of Admission'] = pd.to_datetime(df['Date of Admission'])
df['Discharge Date'] = pd.to_datetime(df['Discharge Date'])

In [8]:
df['Year of Admission'] =df['Date of Admission']. dt.year

In [9]:
df['Day of Admission'] = df['Date of Admission']. dt.day_name()

In [10]:
df['Month of Admission'] = df['Date of Admission']. dt.month_name()

In [11]:
df['Duration of Stay'] =  df['Discharge Date'] -df['Date of Admission']

In [12]:
df.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Age Group', 'Gender', 'Blood Type',
       'Medical Condition', 'Date of Admission', 'Doctor', 'Hospital',
       'Insurance Provider', 'Billing Amount', 'Room Number', 'Admission Type',
       'Discharge Date', 'Medication', 'Test Results', 'Year of Admission',
       'Day of Admission', 'Month of Admission', 'Duration of Stay'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          55500 non-null  int64
 1   Name                55500 non-null  object
 2   Age                 55500 non-null  int64
 3   Age Group           55500 non-null  object
 4   Gender              55500 non-null  object
 5   Blood Type          55500 non-null  object
 6   Medical Condition   55500 non-null  object
 7   Date of Admission   55500 non-null  datetime64[ns]
 8   Doctor              55500 non-null  object
 9   Hospital            55500 non-null  object
 10  Insurance Provider  55500 non-null  object
 11  Billing Amount      55500 non-null  float64
 12  Room Number         55500 non-null  int64
 13  Admission Type      55500 non-null  object
 14  Discharge Date      55500 non-null  datetime64[ns]
 15  Medication          55500 non-null  object
 16  Test Results        55500 non-null  object
 17  Year of Admission   55500 non-null  int32
 18  Day of Admission    55500 non-null  object
 19  Month of Admission  55500 non-null  object
 20  Duration of Stay    55500 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int32(1), int64(3), object(13), timedelta64[ns](1)
memory usage: 8.7+ MB

In [14]:
df.Gender.value_counts()

Gender
Male      27774
Female    27726
Name: count, dtype: int64

In [15]:
df[ 'Blood Type'].value_counts()

Blood Type
A-     6969
A+     6956
AB+    6947
AB-    6945
B+     6945
B-     6944
O+     6917
O-     6877
Name: count, dtype: int64

In [16]:
df['Hospital'].nunique()

39876

In [17]:
df['Medical Condition'].value_counts()

Medical Condition
Arthritis       9308
Diabetes        9304
Hypertension    9245
Obesity         9231
Cancer          9227
Asthma          9185
Name: count, dtype: int64

In [18]:
df.groupby(['Medical Condition'])['Billing Amount'].sum()

Medical Condition
Arthritis       2.373291e+08
Asthma          2.354598e+08
Cancer          2.321679e+08
Diabetes        2.385397e+08
Hypertension    2.357207e+08
Obesity         2.382149e+08
Name: Billing Amount, dtype: float64

In [19]:
df['Admission Type'].value_counts()

Admission Type
Elective     18655
Urgent       18576
Emergency    18269
Name: count, dtype: int64

In [20]:
df['Age Group'].value_counts()

Age Group
Adult       24309
Senior      17087
Elderly     12411
Teenager     1693
Name: count, dtype: int64

In [21]:
df['Admission Type'].value_counts()

Admission Type
Elective     18655
Urgent       18576
Emergency    18269
Name: count, dtype: int64

In [22]:
df['Test Results'].value_counts()

Test Results
Abnormal        18627
Normal          18517
Inconclusive    18356
Name: count, dtype: int64

In [23]:
df['Insurance Provider'].value_counts()

Insurance Provider
Cigna               11249
Medicare            11154
UnitedHealthcare    11125
Blue Cross          11059
Aetna               10913
Name: count, dtype: int64

In [24]:
df.duplicated().sum()

0

In [25]:
df1 = df.copy()
df1.drop_duplicates()

,Unnamed: 0,Name,Age,Age Group,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,...,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Year of Admission,Day of Admission,Month of Admission,Duration of Stay
0,0,Bobby JacksOn,30,Adult,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,...,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal,2024,Wednesday,January,2 days
1,1,LesLie TErRy,62,Elderly,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,...,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive,2019,Tuesday,August,6 days
2,2,DaNnY sMitH,76,Senior,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,...,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal,2022,Thursday,September,15 days
3,3,andrEw waTtS,28,Adult,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",...,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal,2020,Wednesday,November,30 days
4,4,adrIENNE bEll,43,Adult,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,...,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal,2022,Monday,September,20 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55495,55495,eLIZABeTH jaCkSOn,42,Adult,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,...,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal,2020,Sunday,August,30 days
55496,55496,KYle pEREz,61,Elderly,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,...,31457.797307,316,Elective,2020-02-01,Aspirin,Normal,2020,Thursday,January,9 days
55497,55497,HEATher WaNG,38,Adult,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",...,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal,2020,Monday,July,28 days
55498,55498,JENniFER JOneS,43,Adult,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",...,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal,2019,Saturday,May,6 days
55499,55499,jAMES GARCiA,53,Elderly,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,...,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal,2024,Tuesday,April,27 days

In [80]:
df.to_csv(r'C:\Users\user\Documents\WorkSpace\Healthcare_data.csv', index=False)